%flex-items {
  display: flex;
  justify-content: space-between;

  color: #001a49;
}
%flex-items-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%font-700-20-Mulish {
  font: 700 20px "Mulish", "sans-serif";
  color: #4f596a;
}
%font-400-20-Mulish {
  font: 400 20px "Mulish", "sans-serif";
  color: #4f596a;
}
%font-400-16-Mulish {
  font: 400 16px "Mulish", "sans-serif";
  color: #4f596a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* width: 1200px; */
  margin: auto;
}
/* main{
    width: 100%;
} */
header {
  @extend %flex-items;
  align-items: center;
  padding: 10px 0;
  .logo {
    width: 124px;
    height: 38px;
    background-image: url(../assets/Course\ topics.svg);
    background-repeat: no-repeat;
  }
  ul {
    @extend %flex-items;
    width: 500px;
    li {
      list-style: none;
      font: 700 16px "Mulish", "sans-serif";
    }
  }
}
.btn {
  width: 147px;
  height: 50px;
  background: linear-gradient(44.11deg, #8fbbe5 15.75%, #3d75bf 84.63%);
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font: 700 16px "Mulish";
}
.btn:hover {
  cursor: pointer;
}
.start {
  @extend %flex-items;
  margin: 160px 0 250px 0;
}
.start-appointment {
  @extend %flex-items;
  flex-direction: column;
  width: 540px;
  height: 290px;
  /* width: 400px; */
  h1 {
    font: 700 60px "Montserrat", sans-serif;
    color: #001a49;
    line-height: 68px;
    letter-spacing: -1px;
  }
  p {
    @extend %font-700-20-Mulish;
  }
}
.start-video {
  width: 590px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 180px;
  background: #001a49;
  box-shadow: 0px 32px 44px #818a8c;
  border-radius: 20px 0px 0px 20px;
}
.start-video_play{
  width: 70px;
  height: 70px;
  background-image: url(../assets/Play.svg);
}
.total {
  display: flex;
  justify-content: flex-start;
  position: relative;
  .blue {
    width: 288px;
    height: 288px;
    background: linear-gradient(44.11deg, #99c6f2 15.75%, #3d75bf 84.63%);
    border-radius: 50%;
    z-index: 10;
  }
  .wrapper-z {
    /* width: 100%; */
    width: calc(1120px - 288px);
    @extend %flex-items-col;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -50px;
    z-index: 50;
    .orange {
      width: 86px;
      height: 86px;
      background: linear-gradient(35.71deg, #ffd7a9 9.11%, #ffae70 71.64%);
      border-radius: 50%;
    }
    .total-score {
      display: flex;
      /*       width: 1100px; */
      border: 1px solid #e7eaeb;
      border-radius: 10px;
      background-color: #ffff;
      padding: 20px 150px;
      justify-content: space-between;
    }
    .total-score-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        @extend %font-700-20-Mulish;
        white-space: nowrap;
      }
    }
    .item-second {
      padding: 0 150px;
    }
  }
}
h2 {
  font: 700 40px "Montserrat";
  color: #001a49;
  text-transform: uppercase;
}

h3 {
  font: 700 24px "Montserrat", "sans-serif";
  color: #001a49;
}
.benefits {
  @extend %flex-items-col;
  > p {
    margin-top: 5px;
    @extend %font-400-20-Mulish;
  }
  .wrapper-benefits-item {
    margin-top: 61px;
    margin-bottom: 348px;
  }
  .benefits-item {
    display: flex;
    padding: 39px 0 41px 46px;
    /* justify-content:flex-end; */
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .benefits-item-text {
    margin-left: 20px;
    margin-right: 30px;
  }
  .benefits-item-logo-oval {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fca86b;
    background-image: url(../assets/Vector.svg);
  }
  .benefits-item-text p {
    @extend %font-400-16-Mulish;
    margin: 20px 0 40px 0;
    width: 960px;
  }
}
